{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
<div class="card mx-auto p-4" style="width: 25rem">
    <h2 class="card-title">Register</h2>
    <form action="{{ url_for('register') }}" method=post>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <label for="password2">Re-enter Password</label>
            <input type="password" class="form-control" name="password2" id="password2" placeholder="Re-enter Password" required>
        </div>
        <button type="submit" class="btn btn-primary m-3">Register</button>
    </form>
</div>
{% endblock %}